@import "./layout/header";
@import "./layout/footer";
@import "./pages/pageHome";
@import "./pages/pageHousing";
@import "./pages/pageAbout";
@import "./pages/pageError";
@import "./pages/pageContact";
@import "./utils/variables";


body {
    background-color: $color-secondary;
    font-family: $font-main;
    margin: 0;
    & #root{
        height: 100vh;
        & main{
            min-height: 60vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

}
