@import "./layout/header";
@import "./layout/footer";
@import "./pages/pageHome";
@import "./pages/pageWorks";
@import "./pages/pageProject";
@import "./pages/pageProfil";
@import "./pages/pageError";
@import "./pages/pageContact";
@import "./utils/variables";


body {
    background-color: $color-secondary;
    font-family: $font-main;
    margin: 0;

    & #root{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    
        & main{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
