.header {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  gap: 30px;
}
@media (max-width: 768px) {
  .header {
    padding: 20px;
    gap: 23px;
  }
}
.header_logoLink svg {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  height: 104px;
  width: 164px;
}
@media (max-width: 768px) {
  .header_logoLink svg {
    height: 52px;
    width: 82px;
  }
}
.header_nav {
  display: flex;
  align-items: center;
  gap: 0 30px;
  width: 432.83px;
}
@media (max-width: 768px) {
  .header_nav {
    gap: 4px 23px;
    flex-wrap: wrap;
    width: 230px;
  }
}
.header_nav_navLink {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .header_nav_navLink {
    font-size: 12px;
    padding: 2px;
    flex: 1 1 25%;
  }
}
.header_nav_navLink:hover {
  background-color: #eeeeee;
}
.header_nav_navLink.active {
  background-color: #eeeeee;
}

.footer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  position: sticky;
  top: 100%;
}
@media (max-width: 768px) {
  .footer {
    padding: 20px;
  }
}
.footer_logoLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
@media (max-width: 768px) {
  .footer_logoLinks {
    gap: 20px;
  }
}
.footer_logoLinks_logoLink svg {
  height: 104px;
  width: 164px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .footer_logoLinks_logoLink svg {
    height: 52px;
    width: 82px;
  }
}
.footer_logoLinks_socialLinks {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer_logoLinks_socialLinks_link {
  color: black;
  font-size: 38px;
  padding: 7px 14px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .footer_logoLinks_socialLinks_link {
    font-size: 18px;
    padding: 3.5px 7px;
  }
}
.footer_logoLinks_socialLinks_link:hover {
  background-color: #eeeeee;
}
.footer_text {
  font-weight: 500;
  font-size: 24px;
  color: black;
  margin: 0;
  margin-top: 38px;
}
@media (max-width: 768px) {
  .footer_text {
    font-size: 12px;
    margin-top: 10px;
  }
}

.mainProjects_container_card {
  position: relative;
  width: 29.82%;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid black;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.mainProjects_container_card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.1));
  pointer-events: none;
  z-index: 1;
}
@media (max-width: 768px) {
  .mainProjects_container_card {
    width: 100%;
    height: 255px;
  }
}
.mainProjects_container_card_img {
  z-index: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 300ms;
}
.mainProjects_container_card_img:hover {
  transform: scale(1.1);
}
.mainProjects_container_card_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  z-index: 1;
}
.mainProjects_container_card_link {
  width: 100%;
  height: 100%;
  display: block;
}

.presentation {
  display: flex;
  padding: 50px;
  gap: 100px;
  background-color: black;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .presentation {
    padding: 20px;
    gap: 0px;
    flex-wrap: wrap-reverse;
  }
}
.presentation_text {
  text-align: justify;
  color: white;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
@media (max-width: 768px) {
  .presentation_text {
    text-align: justify;
    width: 100%;
    max-width: 500px;
  }
}
.presentation_imgContainer {
  width: 35%;
  height: 100%;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
@media (max-width: 1024px) {
  .presentation_imgContainer {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .presentation_imgContainer {
    width: 100%;
    max-width: 300px;
  }
}
.presentation_imgContainer_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  display: block;
}

.mainProjects {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 50px;
  background-color: white;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .mainProjects {
    padding: 20px;
    gap: 20px;
  }
}
.mainProjects_title {
  margin: 0;
  color: black;
}
.mainProjects_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 768px) {
  .mainProjects_container {
    flex-direction: column;
    gap: 20px;
  }
}
.mainProjects_link {
  text-decoration: none;
  color: black;
  border: 2px solid transparent;
  padding: 5px;
  border-radius: 5px;
}
.mainProjects_link:hover {
  font-weight: 500;
  border-color: black;
  background-color: #eeeeee;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.carouselHousing {
  position: relative;
  max-width: 1240px;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
  margin: 50px 6.94% 0px 6.94%;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .carouselHousing {
    max-width: 89.33%;
    height: 255px;
    margin: 27px 5.33% 0px 5.33%;
    border-radius: 10px;
  }
}
.carouselHousing_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 500ms;
}
.carouselHousing_arrows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carouselHousing_arrows img {
  cursor: pointer;
  margin: 0px 1.85%;
}
@media (max-width: 768px) {
  .carouselHousing_arrows img {
    margin: 0px 1.79%;
    width: 17.5px;
    height: 22px;
  }
}
.carouselHousing_imgCounter {
  position: absolute;
  bottom: 0;
  font-family: Montserrat;
  font-size: 18px;
  color: white;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .carouselHousing_imgCounter {
    display: none;
  }
}

.tag {
  min-width: 95px;
  height: 25px;
  background-color: #FF6060;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  padding: 0 10px;
}
@media (max-width: 768px) {
  .tag {
    min-width: 64px;
    height: 18px;
    font-size: 10px;
  }
}

.housingAdHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .housingAdHeader {
    flex-direction: column;
    gap: 16px;
  }
}
.housingAdHeader_titleAndTags {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 768px) {
  .housingAdHeader_titleAndTags {
    max-width: 100%;
    gap: 14px;
  }
}
.housingAdHeader_titleAndTags_title h1 {
  margin: 0;
  margin-bottom: 8px;
  color: #FF6060;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  text-wrap: wrap;
}
@media (max-width: 768px) {
  .housingAdHeader_titleAndTags_title h1 {
    font-size: 18px;
  }
}
.housingAdHeader_titleAndTags_title p {
  margin: 0;
  color: black;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  text-wrap: wrap;
}
@media (max-width: 768px) {
  .housingAdHeader_titleAndTags_title p {
    font-size: 14px;
  }
}
.housingAdHeader_titleAndTags_tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.housingAdHeader_hostAndRating {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  gap: 31px;
}
@media (max-width: 768px) {
  .housingAdHeader_hostAndRating {
    gap: 0;
    max-width: 100%;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
.housingAdHeader_hostAndRating_host {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.housingAdHeader_hostAndRating_host_name {
  font-family: Montserrat;
  color: #FF6060;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  text-align: right;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .housingAdHeader_hostAndRating_host_name {
    display: none;
  }
}
.housingAdHeader_hostAndRating_host_img {
  width: 64px;
  height: 64px;
  background-color: #C4C4C4;
  border-radius: 50%;
  background-size: cover;
}
@media (max-width: 768px) {
  .housingAdHeader_hostAndRating_host_img {
    width: 32px;
    height: 32px;
  }
}
.housingAdHeader_hostAndRating_Rating {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
}
@media (max-width: 768px) {
  .housingAdHeader_hostAndRating_Rating {
    gap: 6.5px;
  }
}
@media (max-width: 768px) {
  .housingAdHeader_hostAndRating_Rating img {
    width: 13.5px;
    height: 13px;
  }
}

.housingAdInfo {
  max-width: 1240px;
  margin: 25px 6.94% 0px 6.94%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
@media (max-width: 768px) {
  .housingAdInfo {
    margin: 22px 5.33% 0px 5.33%;
    max-width: 89.33%;
    gap: 14px;
  }
}

.housingAdColapses {
  width: 100%;
  display: flex;
  gap: 76px;
}
@media (max-width: 768px) {
  .housingAdColapses {
    flex-direction: column;
    gap: 20px;
  }
}

.colapse {
  max-width: 1023px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 500ms;
}
.colapse--isOpen {
  max-height: 500px;
}
.colapse--isClosed {
  max-height: 53px;
}
@media (max-width: 768px) {
  .colapse--isClosed {
    max-height: 33px;
  }
}
.colapse_header {
  background-color: #FF6060;
  color: white;
  height: 33px;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
@media (max-width: 768px) {
  .colapse_header {
    height: 13px;
    padding: 10px 10px;
  }
}
.colapse_header_title {
  margin: 0;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 24px;
}
@media (max-width: 768px) {
  .colapse_header_title {
    font-size: 13px;
  }
}
.colapse_header_arrow {
  cursor: pointer;
  transition: transform 500ms;
}
@media (max-width: 768px) {
  .colapse_header_arrow {
    width: 16px;
    height: 9.14px;
  }
}
.colapse_header_arrow--isOpen {
  transform: rotate(-180deg);
}
.colapse_header_arrow--isClosed {
  transform: rotate(0deg);
}
.colapse_content {
  background-color: #F6F6F6;
  color: black;
  padding: 20px;
  margin-top: -5px;
  text-align: left;
  font-family: Montserrat;
  font-size: 18px;
  transition: all 500ms;
}
@media (max-width: 768px) {
  .colapse_content {
    font-size: 12px;
  }
}
.colapse_content--isOpen {
  transform: translateY(0);
}
.colapse_content--isClosed {
  transform: translateY(-100%);
}

@keyframes colapseAnime {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.about_colapseContainer {
  max-width: 1140px;
  padding: 0 6.94%;
  margin: 38px 6.94% -12px 6.94%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media (max-width: 768px) {
  .about_colapseContainer {
    margin: 19px 5.33% -8px 5.33%;
    max-width: 89.33%;
    padding: 0;
    gap: 20px;
  }
}

.pageErrorContainer {
  max-width: 1240px;
  margin: 139px 6.94%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 139px;
  font-family: Montserrat;
  color: #FF6060;
}
@media (max-width: 768px) {
  .pageErrorContainer {
    margin: 113px 5.33%;
    gap: 113px;
    max-width: 89.33%;
  }
}
.pageErrorContainer_title {
  margin: 0;
  line-height: 100%;
  font-weight: 700;
  font-size: 288px;
}
@media (max-width: 768px) {
  .pageErrorContainer_title {
    font-size: 96px;
  }
}
.pageErrorContainer_text {
  margin: 0;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  line-height: 1.4;
}
@media (max-width: 768px) {
  .pageErrorContainer_text {
    font-size: 18px;
  }
}
.pageErrorContainer_text br {
  display: none;
}
@media (max-width: 768px) {
  .pageErrorContainer_text br {
    display: block;
  }
}
.pageErrorContainer_link {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: black;
}
@media (max-width: 768px) {
  .pageErrorContainer_link {
    font-size: 14px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
body #root {
  height: 100vh;
}/*# sourceMappingURL=main.css.map */