.header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  gap: 30px;
}
@media (max-width: 768px) {
  .header {
    padding: 20px;
    gap: 23px;
  }
}
.header_logoLink svg {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  height: 104px;
  width: 164px;
}
@media (max-width: 768px) {
  .header_logoLink svg {
    height: 52px;
    width: 82px;
  }
}
.header_nav {
  display: flex;
  justify-content: end;
  gap: 0 30px;
  width: 432.83px;
}
@media (max-width: 768px) {
  .header_nav {
    gap: 4px 23px;
    flex-wrap: wrap;
    width: 230px;
  }
}
.header_nav_navLink {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .header_nav_navLink {
    font-size: 12px;
    padding: 2px;
    flex: 1 1 25%;
  }
}
.header_nav_navLink:hover {
  background-color: black;
  color: white;
}
.header_nav_navLink.active {
  background-color: black;
  color: white;
}

.footer {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  position: sticky;
  top: 100%;
}
@media (max-width: 768px) {
  .footer {
    padding: 20px;
  }
}
.footer_logoLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
@media (max-width: 768px) {
  .footer_logoLinks {
    gap: 20px;
  }
}
.footer_logoLinks_logoLink svg {
  height: 104px;
  width: 164px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .footer_logoLinks_logoLink svg {
    height: 52px;
    width: 82px;
  }
}
.footer_logoLinks_socialLinks {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer_logoLinks_socialLinks_link {
  color: black;
  font-size: 24px;
  padding: 7px 14px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .footer_logoLinks_socialLinks_link {
    font-size: 18px;
    padding: 3.5px 7px;
  }
}
.footer_logoLinks_socialLinks_link:hover {
  background-color: black;
  color: white;
}
.footer_text {
  font-weight: 500;
  font-size: 16px;
  color: black;
  margin: 0;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .footer_text {
    font-size: 12px;
    margin-top: 10px;
  }
}

.card {
  position: relative;
  width: 29.5%;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid black;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.1));
  pointer-events: none;
  z-index: 1;
}
@media (max-width: 768px) {
  .card {
    width: 100%;
    height: 255px;
  }
}
.card_img {
  z-index: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 300ms;
}
.card_img:hover {
  transform: scale(1.1);
}
.card_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  z-index: 1;
}
.card_link {
  width: 100%;
  height: 100%;
  display: block;
}

.contact {
  background-color: black;
  color: white;
  padding: 20px 50px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.contact h2 {
  margin: 0;
  margin-bottom: 20px;
}
.contact_form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.contact_form input,
.contact_form textarea {
  background-color: white;
  color: black;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
  border-radius: 5px;
  resize: none;
  width: 100%;
  max-width: 400px;
}
.contact_form button {
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: solid 2px black;
  border-radius: 5px;
  cursor: pointer;
}
.contact_form button:hover {
  border-color: white;
  background-color: black;
  color: white;
}

.presentation {
  display: flex;
  padding: 20px 50px;
  gap: 100px;
  background-color: black;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .presentation {
    padding: 20px;
    gap: 0px;
    flex-wrap: wrap-reverse;
  }
}
.presentation_text {
  text-align: justify;
  color: white;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
@media (max-width: 768px) {
  .presentation_text {
    text-align: justify;
    width: 100%;
    max-width: 500px;
  }
}
.presentation_imgContainer {
  width: 35%;
  height: 100%;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
@media (max-width: 1024px) {
  .presentation_imgContainer {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .presentation_imgContainer {
    width: 100%;
    max-width: 300px;
  }
}
.presentation_imgContainer_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  display: block;
}

.mainProjects {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  gap: 20px;
  background-color: white;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .mainProjects {
    gap: 20px;
    padding: 20px;
  }
}
.mainProjects_title {
  margin: 0;
  color: black;
}
.mainProjects_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 768px) {
  .mainProjects_container {
    flex-direction: column;
    gap: 20px;
  }
}
.mainProjects_link {
  text-decoration: none;
  color: black;
  border: 2px solid transparent;
  padding: 5px;
  border-radius: 5px;
}
.mainProjects_link:hover {
  font-weight: 500;
  border-color: black;
  background-color: black;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card {
  position: relative;
  width: 29.5%;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid black;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.1));
  pointer-events: none;
  z-index: 1;
}
@media (max-width: 768px) {
  .card {
    width: 100%;
    height: 255px;
  }
}
.card_img {
  z-index: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 300ms;
}
.card_img:hover {
  transform: scale(1.1);
}
.card_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  z-index: 1;
}
.card_link {
  width: 100%;
  height: 100%;
  display: block;
}

.projectGallery {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .projectGallery {
    padding: 20px 0px;
  }
}
.projectGallery_title {
  color: white;
  margin: 0;
}
.projectGallery_container {
  padding: 30px 20px;
  max-width: 1140px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .projectGallery_container {
    flex-direction: column;
    border-radius: 0px;
  }
}

.carousel {
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 415px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .carousel {
    height: 255px;
  }
}
.carousel_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 500ms;
}
.carousel_arrows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel_arrows img {
  background-color: black;
  border: solid 2px white;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0px 1.85%;
}
@media (max-width: 768px) {
  .carousel_arrows img {
    padding: 5px 5px;
    margin: 0px 1.79%;
    width: 17.5px;
    height: 22px;
  }
}
.carousel_imgCounter {
  position: absolute;
  bottom: 0;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
  background-color: black;
  border: solid 2px white;
  padding: 10px 10px;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .carousel_imgCounter {
    display: none;
  }
}

.tag {
  min-width: 95px;
  height: 25px;
  background-color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  padding: 0 10px;
}
@media (max-width: 768px) {
  .tag {
    min-width: 64px;
    height: 18px;
    font-size: 10px;
  }
}

.projectHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 15px;
  border-radius: 5px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .projectHeader {
    flex-direction: column;
    gap: 20px;
  }
}
.projectHeader_title h1 {
  margin: 0;
  color: black;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  text-wrap: wrap;
}
@media (max-width: 768px) {
  .projectHeader_title h1 {
    font-size: 18px;
  }
}
.projectHeader_tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 768px) {
  .project {
    padding: 20px;
    gap: 20px;
  }
}
.project_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media (max-width: 768px) {
  .project_info {
    gap: 20px;
  }
}
.project_colapses {
  width: 100%;
  display: flex;
  gap: 50px;
}
@media (max-width: 768px) {
  .project_colapses {
    flex-direction: column;
    gap: 20px;
  }
}

.colapse {
  max-width: 1023px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 500ms;
  border-radius: 5px;
}
.colapse--isOpen {
  max-height: 500px;
}
.colapse--isClosed {
  max-height: 53px;
}
@media (max-width: 768px) {
  .colapse--isClosed {
    max-height: 33px;
  }
}
.colapse_header {
  background-color: white;
  color: black;
  height: 33px;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
@media (max-width: 768px) {
  .colapse_header {
    height: 13px;
    padding: 10px 10px;
  }
}
.colapse_header_title {
  margin: 0;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 24px;
}
@media (max-width: 768px) {
  .colapse_header_title {
    font-size: 13px;
  }
}
.colapse_header_arrow {
  background-color: black;
  padding: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 500ms;
}
@media (max-width: 768px) {
  .colapse_header_arrow {
    width: 16px;
    height: 9.14px;
    padding: 7.5px 2.5px;
  }
}
.colapse_header_arrow--isOpen {
  transform: rotate(-180deg);
}
.colapse_header_arrow--isClosed {
  transform: rotate(0deg);
}
.colapse_content {
  background-color: white;
  color: black;
  font-weight: 500;
  padding: 20px;
  margin-top: -5px;
  text-align: left;
  font-family: Montserrat;
  font-size: 18px;
  transition: all 500ms;
}
@media (max-width: 768px) {
  .colapse_content {
    font-size: 12px;
  }
}
.colapse_content--isOpen {
  transform: translateY(0);
}
.colapse_content--isClosed {
  transform: translateY(-100%);
}

.colapseContainer {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 768px) {
  .colapseContainer {
    padding: 20px;
    gap: 20px;
  }
}
.colapseContainer_title {
  color: white;
  margin: 0;
}

.presentationProfil {
  display: flex;
  flex-direction: row-reverse;
  padding: 20px 50px;
  gap: 100px;
  background-color: white;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .presentationProfil {
    padding: 20px;
    gap: 0px;
    flex-wrap: wrap;
  }
}
.presentationProfil_text {
  text-align: justify;
  color: black;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
@media (max-width: 768px) {
  .presentationProfil_text {
    text-align: justify;
    width: 100%;
    max-width: 500px;
  }
}
.presentationProfil_imgContainer {
  width: 35%;
  height: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
@media (max-width: 1024px) {
  .presentationProfil_imgContainer {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .presentationProfil_imgContainer {
    width: 100%;
    max-width: 300px;
  }
}
.presentationProfil_imgContainer_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  display: block;
}

.pageErrorContainer {
  max-width: 1240px;
  margin: 139px 6.94%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 139px;
  font-family: Montserrat;
  color: #FF6060;
}
@media (max-width: 768px) {
  .pageErrorContainer {
    margin: 113px 5.33%;
    gap: 113px;
    max-width: 89.33%;
  }
}
.pageErrorContainer_title {
  margin: 0;
  line-height: 100%;
  font-weight: 700;
  font-size: 288px;
}
@media (max-width: 768px) {
  .pageErrorContainer_title {
    font-size: 96px;
  }
}
.pageErrorContainer_text {
  margin: 0;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  line-height: 1.4;
}
@media (max-width: 768px) {
  .pageErrorContainer_text {
    font-size: 18px;
  }
}
.pageErrorContainer_text br {
  display: none;
}
@media (max-width: 768px) {
  .pageErrorContainer_text br {
    display: block;
  }
}
.pageErrorContainer_link {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: black;
}
@media (max-width: 768px) {
  .pageErrorContainer_link {
    font-size: 14px;
  }
}

.contact {
  background-color: black;
  color: white;
  padding: 20px 50px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.contact h2 {
  margin: 0;
  margin-bottom: 20px;
}
.contact_form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.contact_form input,
.contact_form textarea {
  background-color: white;
  color: black;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
  border-radius: 5px;
  resize: none;
  width: 100%;
  max-width: 400px;
}
.contact_form button {
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: solid 2px black;
  border-radius: 5px;
  cursor: pointer;
}
.contact_form button:hover {
  border-color: white;
  background-color: black;
  color: white;
}

body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}/*# sourceMappingURL=main.css.map */