@import "../components/tag";

.projectHeader {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary;
    padding: 10px 15px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 20px;
    }

    &_title {

        & h1 {
            margin: 0;
            color: $color-secondary ;
            font-family: Montserrat;
            font-size: 36px;
            font-weight: 500;
            text-wrap: wrap;

            @media (max-width: 768px) {
                font-size: 18px;
                text-align: center;
            }

        }

    }

    &_tags {

        display: flex;
        justify-content: end;
        flex-wrap: wrap;
        gap: 10px;

        @media (max-width: 768px) {
            justify-content: center;
        }

    }

}