.footer {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    background-color: $color-primary ;
    align-items: center;
    position: sticky;
    top: 100%;

    @media (max-width: 768px) {
        padding: 20px;
    }
    
    &_logoLinks{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;

        @media (max-width: 768px) {
        gap: 20px;
        }

        &_logoLink svg  {
            height: 104px;
            width: 164px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

        @media (max-width: 768px) {
            height: 52px;
            width: 82px;
        }
    }

    &_socialLinks{
        display: flex;
        flex-direction: row;
        gap: 20px;

        &_link  {
            color: $color-secondary;
            font-size: 24px;
            padding: 7px 14px;
            border: 2px solid $color-secondary;
            border-radius: 5px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

            @media (max-width: 768px) {
            font-size: 18px;
            padding: 3.5px 7px;
            }

            &:hover{
            background-color: $color-accent;
            }
        }
    }
    }


    &_text {
        font-weight: 500;
        font-size: 16px;
        color: $color-secondary;
        margin: 0;
        margin-top: 20px;
        

        @media (max-width: 768px) {
            font-size: 12px;
            margin-top: 10px;
        }
    }
}