.footer {
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: #5E5E5E ;
    align-items: center;
    position: sticky;
    top: 100%;
    
    &_logoLinks{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;

        &_logoLink svg  {
            height: 100.8px;
            width: 234px;

        @media (max-width: 768px) {
            height: 100.8px;
            width: 234px;
            }
    }

    &_socialLinks{
        display: flex;
        flex-direction: row;
        gap: 50px;

        &_link  {
            color: #C4C4C4;
            font-size: 38px;
            padding: 5px;
            border: 2px solid transparent;
            border-radius: 2px;

            &:hover{
            border-color: #C4C4C4;
            }
        }
    }
    }


    &_text {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 24px;
        color: #C4C4C4;
        margin: 0;
        margin-top: 38px;

        @media (max-width: 768px) {
            font-size: 12px;
            width: 100px;
            margin-top: 10px;
            text-align: center;
        }
    }
}