header {

    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5E5E5E ;
    
    @media (max-width: 768px) {
        max-width: 89.33%;
        height: 46.88px;
        margin: 20px 5.33% 0px 5.33% ;
    }

    & .logoLink{
        transform-origin: left center;
        transform: scale(1.2);

        @media (max-width: 768px) {
        transform: scale(1);
    }

    }

    & nav{
        display: flex;
        align-items: center;
        gap: 47px;

        @media (max-width: 768px) {
            gap: 26px;
        }

        & .navLink{
        color: #C4C4C4;
        text-decoration: none;
        font-family: Montserrat ;
        font-weight: 500;
        font-size: 24px;
        padding: 5px;

        @media (max-width: 768px) {
            font-size: 12px;
        }

        &:hover{
            border: 2px solid #C4C4C4;
            border-radius: 2px;
        }
        
        }

    }

}

.navLink.active {
    border: 2px solid #C4C4C4;
    border-radius: 2px;
}