.header {

    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5E5E5E ;
    
    @media (max-width: 768px) {
        max-width: 89.33%;
        height: 46.88px;
        margin: 20px 5.33% 0px 5.33% ;
    }

    &_logoLink svg{
        height: 100.8px;
        width: 234px;

        @media (max-width: 768px) {
        height: 100.8px;
        width: 234px;
    }

    }

    &_nav{
        display: flex;
        align-items: center;
        gap: 47px;

        @media (max-width: 768px) {
            gap: 26px;
        }

        &_navLink{
        color: #C4C4C4;
        text-decoration: none;
        font-family: Montserrat ;
        font-weight: 500;
        font-size: 24px;
        border: 2px solid transparent;
        border-radius: 2px;
        padding: 5px;

        @media (max-width: 768px) {
            font-size: 12px;
        }

        &:hover{
            border-color: #C4C4C4;   
        }

        &.active{
            border-color: #C4C4C4;
        }

        }

    }

}