@import "../utils/variables";

.header {

    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary ;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    gap: 30px;
    
    @media (max-width: 768px) {
        padding: 20px;
        gap: 23px;
    }

    &_logoLink svg{
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        height: 100.8px;
        width: 234px;

        @media (max-width: 768px) {
        height: 50.4px;
        width: 117px;
    }

    }

    &_nav{
        display: flex;
        align-items: center;
        gap: 0 30px;

        @media (max-width: 768px) {
            gap: 4px 23px;
            flex-wrap: wrap;
        }

        &_navLink{
        color: $color-secondary;
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        border: 2px solid $color-secondary;
        border-radius: 2px;
        padding: 5px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

        @media (max-width: 768px) {
            font-size: 12px;
            padding: 1.5px;
            flex: 1 1;
        }

        &:hover{
            color: $color-primary;
            background-color: $color-accent;
        }

        &.active{
            color: $color-primary;
            background-color: $color-accent;
        }

        }

    }

}